[submodule "Frameworks/EKNetworking"]
	path = Frameworks/EKNetworking
	url = https://github.com/emvakar/EKNetworking.git
[submodule "Frameworks/DevHelper"]
	path = Frameworks/DevHelper
	url = https://github.com/emvakar/DevHelper.git
[submodule "Frameworks/EKIPLocation"]
	path = Frameworks/EKIPLocation
	url = https://github.com/emvakar/EKIPLocation.git
[submodule "Frameworks/DTPurchase"]
	url = https://github.com/DmitriyTor/DTPurchase.git
